<%- include('./parts/head') %>
    <%- include('./parts/header') %>

        <div id="chat_row" class="row mt-5">
            <!-- <div id="connect_window" class="col-lg-2">
                Homemade :

                Firebase :
                <div id="firebaseui-auth-container"></div>
            </div> -->
            <div id="chat_window" class="col">

                <ul id="messages_container" class="list-unstyled mb-5">
                    <!-- parts/ message.ejs -->
                    <% datas.messages.forEach(function(message, index){ %>
                        <%- include('parts/message', {post : message, i : index}); %>
                            <% }); %>
                </ul>

            </div>
            <div id="" class="col-lg-3">
                <div id="" class="">
                    <b>Connected Users :</b>
                </div>
                <div id="users_window" class="">
                    <%# console.log(users); %>
                        <%# users.forEach(function(item, index){ %>
                            <%#- include('parts/user', {u : item, i : index}); %>
                                <%# }); %>
                </div>
            </div>
        </div>
        <%- include('./parts/footer') %>