<!-- <footer class="mt-auto d-flex justify-content-center"> -->
<footer class="fixed-bottom d-flex justify-content-center bg-secondary p-2">
  <input id="content_input" class="w-75" type="text" onchange="post_message()">
  <button id="content_button" class="btn btn-dark" onclick="post_message()">Send</button>
</footer>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="jquery.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="socket.io.js"></script>
<script src="p5/p5.js"></script>
<script src="p5/addons/p5.dom.js"></script>


<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBjyHo4R9j8foJZQMY1SKB3v_UBbz4CAnc",
    authDomain: "node-socket-io-chat-3a649.firebaseapp.com",
    databaseURL: "https://node-socket-io-chat-3a649.firebaseio.com",
    projectId: "node-socket-io-chat-3a649",
    storageBucket: "node-socket-io-chat-3a649.appspot.com",
    messagingSenderId: "266861761508"
  };
  firebase.initializeApp(config);
</script>


<script src="scripts.js"></script>
<script src="sketch.js"></script>


</body>

</html>