<div id="main_container" class="cover-container-fluid d-flex h-100 p-3 mx-auto flex-column">

    <!-- <header class="mb-auto"> -->
    <header class="fixed-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark p-0">
            <h1 class="navbar-brand mx-3">Far Worst Chat</h1>
        </nav>
    </header>