<li id="msg_<%= i %>" class="media w-100 p-1">
    <img class="avatar m-2" src="img/000.jpg" alt="Generic placeholder image">
    <div class="mt-0 w-90 pb-1 media-body">
        <h5><%= post.author %> : </h5>
        <%= post.content %>
    </div>
</li>