<li class="media m-1">
    <img class="avatar m-2" src="img/000.jpg" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0 mb-1"><%= data.author %></h5>
        "<%= data.content %>"
    </div>
</li>